* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.character-page {
  background-color: rgb(180, 180, 180);
  border: 5px black solid;
  width: 99.4%;
  min-height: 99.9%;
  max-height: 199.9%;
}
.paragraph-container {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 93.5px);
  grid-template-rows: repeat(12, 93.5px);
}

.para-content {
  width: 90%;
  height: 30px;
}
.para-title {
  width: 90%;
  height: 30px;
}
.character-page .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  border: 5px black solid;
  grid-column: 17/21;
  grid-row: 1/6;
}
.character-image {
  width: 300px;
  height: 300px;
}
.char {
  margin: 0.5rem 0.25rem 0 0;
}
.para1 {
  grid-column: 1/17;
  grid-row: 1/5;
}
.para2 {
  grid-column: 1/17;
  grid-row: 5/9;
}
.para3 {
  grid-column: 1/17;
  grid-row: 9/13;
}
